@import 'src/styles/vars';

.ui.avatar.image {
  width: 100px;
  height: 100px;
}

#info > p {
  margin: 1em;
}

.ui.button {
  margin: .5em;
}

#commentsTitle {
  margin: 2em 0;
  font-size: 30px;
  font-weight: bold;
  color: $beige;
}

.comment {
  margin-left: 1em;
}

.containerModal {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  align-content:center;
  flex-direction: center;
}

#deleteTitle {
  color: black;
  font-weight: bold;
  padding-bottom: 1em;
}
 