.legalMentions {
    padding: 0.5em;
    line-height: 150%;
    width: 80%;
}
#legalMentionsTitle {
    margin-bottom: 1em;
}
#legalMentionsContainer {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}