@import 'src/styles/vars';

#description {
    padding-top: 2em;
}

.stars {
    margin-top: 1em;
}

.services {
    margin: 6em 0.4em;
    font-size: 20px;
}

#commentIsLoged {
  background-color: rgb(248, 248, 248);
}

.ui.title {
    padding: 3em;
    background-color: $beige;
    border-radius: 5px;
}

#gas {
    margin: 3em 1em;
}

.segments>.segment.gasname {
  width:60%;
}

.segments>.segment.gasprice {
  width:40%;
}

#areaname {
  border-radius: 5px;
  margin: 0 auto 1em;
  background-color: $beige;  
}

h2.ui.header {
  color: $primary-color;
}

#rating {
  font-size: .8em;
  color: $beige;
  margin-top: .5em;
}

#area-infos {
  background-color: $primary-color;
  color: white;
  border: thin solid white;
  line-height: 150%;
  padding: .5em;
}

h3.ui.header {
  color: $primary-color;
}

.ui.image.restaurant-brand {
  max-width: 150px;
}

.segment.services {
  background-color: $beige;
  border:none;
  border-radius: 30px;
}

.servicesIcon {
  font-size: 2em;
  margin: .3em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.iconlabelled {
  margin: .3em .5em;
  flex: 0 28%;
}

.carousel .slide {
  background-color: white;
}

.carousel.carousel-slider .control-arrow {
  color: teal;
}

.ui.segments>.horizontal.segments {
  background-color: white;
}

#suggest {
  margin-top: 2em;
}

#file {
  border-radius: 5px;
  padding: 2em;
}
