@import 'src/styles/vars';

#description, #mapid {
    margin-top: 1em;
    margin-bottom: 1em;
}

#mapid {
    height: 60vh;
    width: 100%;
    z-index: -100;
}

#geolocalisation {
    font-size: 32px;
    margin: 0.5em 0 0.5em 0;
}

h1 {
    font-size: 36px;
    background-color: $beige;
    font-weight: bold;
    border: 1px solid $beige;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1.5em;
} 