#carFail {
    border-radius: 5px;
    width: 65%;
    height: 45vh;
    margin-bottom: 2em;
}
#wrongUrl {
    padding: 2em;
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}