#mapid {
  height: 60vh;
  width: 90%;
  margin: 1em auto;
  border-radius: 5px;
}

.leaflet-popup-content {
  text-align: center;
  &>p{
    margin: .2em 0em;
    font-size: 1.2em;
  }
}

.popup-area-name {
  font-size: 1.8em;
  font-weight: bolder;
}
